<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>My Home Page</title>
</head>
<body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo left">My Job Application Tracker</a>
          <ul class="right">
              <li><a href="/auth/google">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <header class="container">
      <h2>Welcome</h2>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi voluptatum quidem veniam ut ullam. Eos dolor sed facere quia neque necessitatibus magnam architecto! Veritatis saepe blanditiis incidunt reprehenderit illum aperiam.</h4>
    </header>
  </body>
</html>