<%- include('../partials/header') %>

A journey of a thousand miles begins with a single step
<div class="card-action">
    <form action="/applications/new" method="get">
      <input type="text" name="text" class="white-text">
      <button type="submit" class="btn white-text">Add A New Application</button>
    </form>
  </div>
</body>

<%- include('../partials/footer') %>